@{
    ViewData["Title"] = "Home Page";
}

<section class="section1">
    <div class="row justify-content-around">
        <div class="col-md-4 ">
            <h1 class="header1 mt-5">Welcome to <span class="span1">Travellaire Hotel</span> in Egypt</h1>
            <p class="p3">Book your stay and enjoy Travellaire redefined at the most affordable rates.</p>
            @ViewData["sessionid"]
        </div>
        <div class="col-md-4">

            <a asp-controller="Room" asp-action="Index" type="button" class="btn"> <img src="~/img/Vector4.png" />BOOK NOW</a>
        </div>
    </div>
</section>
<section class="section2 text-center mx-5">
    <h2 class="header2">Our Facilities</h2>
    <p class="p4">We offer modern (5 star) hotel facilities for your comfort.</p>
    <div class="row text-center justify-content-evenly ">
        <div class="col-md-2 m-5 py-5">
            <img src="~/img/makiSwimming0.png" />
            <p>Swimming Pool</p>
        </div>
        <div class="col-md-2 m-5 py-5">
            <img src="~/img/wifi.png" />
            <p>Wifi</p>
        </div>
        <div class="col-md-2 m-5 py-5">
            <img src="~/img/breakfast.png" />
            <p>Breakfast</p>
        </div>
        <div class="col-md-2 m-5 py-5">
            <img src="~/img/gym.png" />
            <p>Gym</p>
        </div>
        <div class="col-md-2 m-5 py-5">
            <img src="~/img/game.png" />
            <p>Game center</p>
        </div>
        <div class="col-md-2 m-5 py-5">
            <img src="~/img/light.png" />
            <p>24/7 Light</p>
        </div>
        <div class="col-md-2 m-5 py-5">
            <img src="~/img/luandry.png" />
            <p>Laundry</p>
        </div>
        <div class="col-md-2 m-5 py-5">
            <img src="~/img/park.png" />
            <p>Parking space</p>
        </div>

    </div>
</section>
<section class="section3">
    <div class="row">
        <div class="col-md-12 mt-5">
            <div class="row justify-content-around">
                <div class="col-md-4 divtext">
                    <h2 class="header3">Travellaire redefined</h2>
                    <p class="p5">The elegant luxury bedrooms in this gallery showcase custom interior designs & decorating ideas. View pictures and find your perfect luxury bedroom design.Luxurious .....<a href="">read more</a> </p>
                    <a asp-controller="Room" asp-action="Index" type="button" class="btn ms-5 mt-3">Explore</a>
                </div>
                <div class="col-md-4">
                    <img class="img-fluid" src="~/img/steven-ungermann-aRT5UCf2MYY-unsplash.png" />
                </div>
            </div>
        </div>
        <div class="col-md-12 my-5">
            <div class="row justify-content-around">
                <div class="col-md-4 divtext">
                    <h2 class="header3">Leave your worries on the beach</h2>
                    <p class="p5">
                        We love life at the beach. Being close
                        to the ocean with access to endless sandy
                        beach ensures a relaxed state of mind.
                    </p>
                    <a asp-controller="Room" asp-action="Index" type="button" class="btn ms-5 mt-3">Explore</a>
                </div>
                <div class="col-md-4">
                    <img class="img-fluid" src="~/img/andrew-ruiz-fmz-B9At9iQ-unsplash.png" />
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section4 m-5">
    <div class="text-center p-5">
        <h2 class="header4 my-5">Events & Weddings</h2>
        <p class="p6 m-5"> Ladies and gentlemen, history keeps repeating itself but doesn't teach us any lessons. 'Never again' has turned into 'again and again and again.' So today, ladies and gentlemen, take Hotel Lunar as a wake-up call and a message to be our messenger that people are the ones who can change what they want to change. </p>
    </div>
</section>
<section class="Testimonies m-5 p-5">
    <h2 class="text-center my-5">Testimonies</h2>
    <div class="row justify-content-around">
        <div class="col-md-3">
            <img src="~/img/Group 10.png" class="float-end" />
            <p>25 Mar. 2023</p>
            <p class="my-5"><img src="~/img/Vectorstart.png" />The service at the Hotel Monteleone was exceptional. There was absolutely no issue that was not addressed timely and with satisfactory results. We were particulary impressed with how the hotel staff anticipated our needs (periodically coming by the Board Room to check with us). Numerous conference attendees commented on the quality of the food, the quality of the service and overall positive attitude toward the conference site. Particular noteworthy is the longevity of the staff and that sense of investment in the success of every event. I usually offer suggestions for improvements (part of being a marketing professor), but there is absolutely nothing that could be improved – you have set the bar very high. <img src="~/img/Vectorend.png" /></p>
            <p><img src="~/img/Ellipse 5 (1).png" class="me-2" />Regina Gella</p>
        </div>
        <div class="col-md-3">
            <img src="~/img/Group 10.png" class="float-end" />
            <p>5 Apr. 2023</p>
            <p class="my-5"><img src="~/img/Vectorstart.png" />The service at the Hotel Monteleone was exceptional. There was absolutely no issue that was not addressed timely and with satisfactory results. We were particulary impressed with how the hotel staff anticipated our needs (periodically coming by the Board Room to check with us). Numerous conference attendees commented on the quality of the food, the quality of the service and overall positive attitude toward the conference site. Particular noteworthy is the longevity of the staff and that sense of investment in the success of every event. I usually offer suggestions for improvements (part of being a marketing professor), but there is absolutely nothing that could be improved – you have set the bar very high. <img src="~/img/Vectorend.png" /></p>
            <p><img src="~/img/Ellipse 5 (2).png" class="me-2 " />Jamiyu Aliyu</p>
        </div>
        <div class="col-md-3">
            <img src="~/img/Group 10.png" class="float-end" />
            <p>2 Mar. 2023</p>
            <p class="my-5"><img src="~/img/Vectorstart.png" />The service at the Hotel Monteleone was exceptional. There was absolutely no issue that was not addressed timely and with satisfactory results. We were particulary impressed with how the hotel staff anticipated our needs (periodically coming by the Board Room to check with us). Numerous conference attendees commented on the quality of the food, the quality of the service and overall positive attitude toward the conference site. Particular noteworthy is the longevity of the staff and that sense of investment in the success of every event. I usually offer suggestions for improvements (part of being a marketing professor), but there is absolutely nothing that could be improved – you have set the bar very high. <img src="~/img/Vectorend.png"></p>
            <p><img src="~/img/Ellipse 5.png" class="me-2" />Anthony Bruff</p>
        </div>
    </div>
</section>