@model Hotel.Models.Room

@{
    ViewData["Title"] = "Details";
}
<section class="section6 text-center">
    <h1>Room Details</h1>
</section>


<section class="roomSection mx-5 text-center">
    <div class="card mx-5" style="width: 90%;">
        <div class="card-body">
            <h5 class="card-title">
                @Html.DisplayFor(model => model.roomName)
            </h5>
            @{
                if (Model.availiablilty)
                {
                    <p class="card-text text-end">Available: Yes</p>
                }
                else
                {
                    <p class="card-text text-end">Available: No</p>
                }
            }
            <p class="card-text text-end">₦@Html.DisplayFor(model => model.priceParNight)</p>
        </div>
        <img src="~/img/@Model.room_Pic" class="card-img-top" alt="...">
        <a asp-controller="Book" asp-action="Index" asp-route-id="@Model.ID" class="btn btn-outline-warning float-end">Book now</a>

    </div>
</section>
