@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Profile Page";
}
<section style="background-color: #eee;">
    <div class="container py-5">
      
        <div class="row">
            <div class="col-lg-4">
                <div class="card mb-4">
                    <div class="card-body text-center">
                        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
                             class="rounded-circle img-fluid" style="width: 150px;">
                        <h5 class="my-3">John Smith</h5>
                       <form asp-action="Create" enctype="multipart/form-data">
                            <div class="mb-3">
                                <input class="form-control form-control-sm" id="formFileSm" type="file" name="user_img">
                            </div>
                       </form>
                    </div>
                </div>
                <div class="card mb-4 mb-lg-0">
                    <div class="card-body p-0">
                        <ul class="list-group list-group-flush rounded-3">
                            <li class="list-group-item d-flex justify-content-between align-items-start p-3">
                                <p class="mb-0 me-2 text-primary">Compliment:</p>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-start p-3">
                                <p class="mb-0 me-2 text-primary">Opinion</p>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-start p-3">
                                <p class="mb-0 me-2 text-primary">Enquiries</p>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-start p-3">
                                <p class="mb-0 me-2 text-primary">Compaints</p>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-start p-3">
                                <p class="mb-0 me-2 text-primary">Requests</p>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Full Name</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">Johnatan Smith</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Email</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">example@example.com</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Phone</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">(097) 234-5678</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Address</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">Bay Area, San Francisco, CA</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="card mb-4 mb-md-0">
                            <div class="card-body">
                                <p class="mb-4">
                                    <span class="text-primary font-italic me-1">upcoming</span> Bookings
                                </p>
                                
                                <ul class="list-group list-group-flush rounded-3">
                                    <li class="list-group-item d-flex justify-content-between align-items-start p-3">
                                        <p class="mb-0 me-2 text-primary">Royal Room:</p>
                                        <p>from: 10/5/2023  To:12/5/2023 </p>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-start p-3">
                                        <p class="mb-0 me-2 text-primary">Royal Room:</p>
                                        <p>from: 10/5/2023  To:12/5/2023 </p>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-start p-3">
                                        <p class="mb-0 me-2 text-primary">Royal Room:</p>
                                        <p>from: 10/5/2023  To:12/5/2023 </p>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-start p-3">
                                        <p class="mb-0 me-2 text-primary">Royal Room:</p>
                                        <p>from: 10/5/2023  To:12/5/2023 </p>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-start p-3">
                                        <p class="mb-0 me-2 text-primary">Royal Room:</p>
                                        <p>from: 10/5/2023  To:12/5/2023 </p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card mb-4 mb-md-0">
                            <div class="card-body">
                                <p class="mb-4">
                                    <span class="text-primary font-italic me-1">Previous</span> Bookings
                                </p>

                                <ul class="list-group list-group-flush rounded-3">
                                    <li class="list-group-item d-flex justify-content-between align-items-start p-3">
                                        <p class="mb-0 me-2 text-primary">Suite:</p>
                                        <p>from: 10/5/2022  To:12/5/2022 </p>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-start p-3">
                                        <p class="mb-0 me-2 text-primary">Suite:</p>
                                        <p>from: 10/5/2022  To:12/5/2022 </p>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-start p-3">
                                        <p class="mb-0 me-2 text-primary">Suite:</p>
                                        <p>from: 10/5/2022  To:12/5/2022 </p>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-start p-3">
                                        <p class="mb-0 me-2 text-primary">Suite:</p>
                                        <p>from: 10/5/2022  To:12/5/2022 </p>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-start p-3">
                                        <p class="mb-0 me-2 text-primary">Suite:</p>
                                        <p>from: 10/5/2022  To:12/5/2022 </p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>